{% extends "layout/default" %}


{% block content %}

{% set civilization = category %}

{% set cardPerPage = 2 %}

{% set query = craft
  .entries
  .section('card')
  .relatedTo(category)
  .limit(cardPerPage) %}

{% paginate query as paginator, cards %}

<h1>{{ civilization }}文明</h1>

{% for card in cards %}
  <div>
    <a href="{{ card.url }}">
      <h1>{{ card.title }}</h1>
      <p>{{ card.effect }}</p>
    </a>
  </div>
{% endfor %}

{% if paginator.prevUrl %}<a href="{{ paginator.prevUrl }}">前へ</a>{% endif %}
{% if paginator.nextUrl %}<a href="{{ paginator.nextUrl }}">次へ</a>{% endif %}

{% endblock %}
