{# ページネーション付きでカードを一覧表示する #}
{# @param cards #}
{# @param paginator #}

{% for card in cards %}
  <div>
    <a href="{{ card.url }}">
      <h1>{{ card.title }}</h1>
      <p>{{ card.effect }}</p>
    </a>
  </div>
{% endfor %}

{% if cards is empty %}
  <div>見つかりませんでした</div>
{% endif %}

{% if paginator.prevUrl %}<a href="{{ paginator.prevUrl }}">前へ</a>{% endif %}
{% if paginator.nextUrl %}<a href="{{ paginator.nextUrl }}">次へ</a>{% endif %}
