{# ページネーション付きでカードを一覧表示する #}
{# @param cards #}
{# @param paginator #}

<div class="CardList">
  {% for card in cards %}
    {% set mainImage = card.main_image.one() %}

    <div class="CardList__Item">
      <a href="{{ card.url }}">
        <div>
          <img src="{{ mainImage.getUrl() }}" alt="{{ mainImage.title }}" width="200">
        </div>
        <h3>{{ card.title }}</h3>
      </a>
    </div>
  {% endfor %}

  {% if cards is empty %}
    <div>見つかりませんでした</div>
  {% endif %}
</div>

<div class="Paginator">
  {% if paginator.prevUrl %}<a href="{{ paginator.prevUrl }}">前へ</a>{% endif %}
  {% if paginator.nextUrl %}<a href="{{ paginator.nextUrl }}">次へ</a>{% endif %}
</div>
