<h3>お問い合わせありがとうございました</h3>

<hr>

fromName: {{ submission.fromName }}<br>
<br>
fromEmail: {{ submission.fromEmail }}<br>
<br>
subject: {{ submission.subject }}<br>
<br>
message: {{ submission.message.message }}<br>
<br>
{# attachment {{ attachment }} #}
